
<div class="container">
    <div id="error_explanation">
      <% if @user.errors.any? %>
      <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>  
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100, 100) %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
            <th>   </th>
          </tr>
        </tbody>
      </table>  
      
      <%= link_to "編集", edit_user_path(@user.id) %>
        

      <h2>New book</h2>
      <%= form_with model: Book.new do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
  
        <p><%= f.submit "Create Book" %></p>
      <% end %>
    </div>
    
    <div class="col-md-8">
        <h2>Users</h2>
        <table class="table">
          <thead>
            <tr>
              <th class="header1">image</th>
              <th class="header2">name</th>
              <th>  </th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
